
@model Paciente

    <p>
        Identificación: @Model.Identificacion;> --
        Nombre:@Model.Nombres;> --
        Edad:@Model.Edad;> --
        Sexo:@Model.Sexo;> --
        Codigo ADN:@Model.CodigoADN;> --
        Diagnóstico:@Model.Diagnostico;> --
        Estado:@Model.Estado;> --
        Tipo Triage:@Model.TipoTriageId;

        <br />
    </p>